<footer>

  <div id="footer-wrapper"> 
    <div id="footer" class="row">   
      <div class="credit desktop-12">
        <p>Copyright &copy; {{ 'now' | date: "%Y" }} 100% Pure | Purity Cosmetics, Inc. Products made in USA. Designed with &hearts; from California. </p>
      </div>
    </div> 
  </div>

</footer>